extends layout

block content
  h1= title

  ul
    each equipment in inventory_list
      li
        p Equipment: 
          a(href=equipment.url) #{equipment.name}
        p Category: 
          a(href=equipment.category.url) #{equipment.category.name}
        p Quantity: #{equipment.stock}

    else
      li There are no equipments.
